/*core style*/
@font-face {
    font-family: 'Inter';
    src: url(./fonts/Inter-Regular.ttf);
}

@font-face {
    font-family: 'Jost';
    src: url(./fonts/Jost-Regular.ttf);
}
/*body-heading*/
.body-heading {
    background: linear-gradient(90deg, #00FFFF 0%, #4C98DE 33.93%, rgba(0, 133, 255, 0) 66.07%), url("./images/photo1.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 36px;
    height: 500px;
    margin-left: 2rem;
    margin-right: 2rem;
}

.heading-title {
    padding-left: 4rem;
    width: 50%;
}

.heading-title p{
    font-family: 'Jost';
    font-style: normal;
    color: #FFFFFF;
}

.title-1 {
    
    font-weight: 600;
    font-size: 38px;
    line-height: 60px;
}

.title-2 {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
}

.search{
    z-index: 2;
    position: relative;
    top: -44px;
    width: 80%;
    height: 88px;
    background: #FFFFFF;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16), 0px 4px 18px rgba(0, 0, 0, 0.06);
    border-radius: 44px;
    
}

/*dropdown*/
* {
    font-family: 'Inter';
    font-style: normal;
  }

  .select-menu{
    position: relative;
    padding-left: 2rem;
  }

.icon{
    color: #0085FF;
    font-size: 1srem;
}


.select-menu .select-btn {
    position: relative;
    background: none;
    padding: 7px;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
}

.sBtn-title{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #585757;
}

.select-menu .sBtn-text{
    font-family: 'Jost';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #1C1C1C;
}

.select-menu .options {
    position: absolute;
    width: 300px;
    overflow-y: auto;
    max-height: 295px;
    padding: 10px;
    margin-top: 10px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    animation-name: fadeInDown;
    -webkit-animation-name: fadeInDown;
    animation-duration: 0.35s;
    animation-fill-mode: both;
    -webkit-animation-duration: 0.35s;
    -webkit-animation-fill-mode: both;
}

.dropup{
    bottom: 100%;
}

.select-menu .options .option {
    display: flex;
    height: 55px;
    cursor: pointer;
    padding: 0 16px;
    border-radius: 8px;
    align-items: center;
    background: #fff;
}
  .select-menu .options .option:hover {
    background: #f2f2f2;
  }
  .select-menu .options .option i {
    font-size: 25px;
    margin-right: 12px;
  }
  .select-menu .options .option .option-text {
    font-family: 'Inter';
    font-style: normal;
    font-size: 15px;
    color: #333;
  }
  
  .select-btn i {
    font-size: 13px;
    transition: 0.3s;
    margin-left: 0.5rem;
  }
  
  .select-menu.active .select-btn i {
    transform: rotate(-180deg);
  }
  .select-menu.active .options {
    display: block;
    opacity: 0;
    z-index: 10;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
    animation-duration: 0.4s;
    animation-fill-mode: both;
    -webkit-animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
  }
  
  @keyframes fadeInUp {
    from {
      transform: translate3d(0, 30px, 0);
    }
    to {
      transform: translate3d(0, 0, 0);
      opacity: 1;
    }
  }
  @keyframes fadeInDown {
    from {
      transform: translate3d(0, 0, 0);
      opacity: 1;
    }
    to {
      transform: translate3d(0, 20px, 0);
      opacity: 0;
    }
  }

.date_in input{
    border: none;
    background: none;
}

.search-button{
    background: #0085FF;
    width: 56px;
    height: 56px;
    border-radius: 28px;
    border: none;
    color: white;
}

/*Body recomendation*/
.body-recomendation {
    padding: 2rem;
}

.recom-title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #0085FF;
    margin-top: 3rem;
    margin-bottom: 0.5rem;
}

.recom-subtitle {
    display: inline-block;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 48px;
    color: #1C1C1C;
    margin-bottom: 2rem;
}

#wrapper {
    width: 100%;
    position: relative;
}
  
#carousel {
    width: auto;
    overflow: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
}
  
#carousel::-webkit-scrollbar {
    height: 0;
}

.next-prev {
    display: inline-flex;
    justify-content: end;
}
  
#prev, #next {
    padding: 16px;
    gap: 10px;
    width: 56px;
    height: 56px;
    border-radius: 28px;
    border: none;
    outline: 0;
    cursor: pointer;
    background :#e0dfdf;
}

#prev:hover, #next:hover {
    background: #0085FF;
}
  
#content {
    display: grid;
    grid-gap: 16px;
    grid-auto-flow: column;
    margin: auto;
    box-sizing: border-box;
  }

#destination {
    display: inline-block;
    padding-right: 2rem;
    width: 400px;
    height: 524px;
}

#destination img{
    width: 100%;
}

.des-title {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 2rem;
    color: #1C1C1C;
}

.des-subtitle {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #585757;
}

.gr {
    display: inline-block;
    width: 3.5rem;
    height: 1.8rem;
    background: linear-gradient(0deg, rgba(0, 133, 255, 0.1), rgba(0, 133, 255, 0.1)), #FFFFFF;
    border-radius: 1rem;
    text-align: center;
}

.star {
    font-size: 0.8rem;
    color: #0085FF;
}

.rate__number {
    display: inline-block;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #0085FF;
}

.review {
    display: inline-block;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #969696;
}

/* Body experience */

.experience__statistic {
    vertical-align: middle;
    padding: 2rem;
    margin-bottom: 3rem;
}

.experience__image {
    vertical-align: middle;
    height: 100%;
    display: inline-block;
    width: 100%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.experience__body {
    display: inline-block;
    padding-bottom: 0;
}

.experience__title {
    margin: 2.5rem 0 0 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #0085FF;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

.experience__subtitle {
    margin: 0 0 1.5rem 0;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 60px;
    color: #1C1C1C;
}

.experience__text {
    font-family: 'Inter';
    font-style: normal;
    margin: 0;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #585757;
}

.statistic {
    display: inline-block;
    width: 100%;
}

.statistic__number {
    margin: 2rem 0 0 0;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 48px;
    color: #0085FF;
}

.statistic__text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #585757;
}

.experience__image1, .experience__image2, .experience__image3{
    position:absolute;
    width: 200px;
    height: 300px;
    border-radius: 36px;
}

.experience__image1 {
    z-index: 1;
    left: calc(50% - 400px/2);
    top: -1.7rem;
    filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.16)) drop-shadow(0px 4px 18px rgba(0, 0, 0, 0.06));
}

.experience__image2 {
    z-index: -1;
    left: calc(50% - 360px/2 - 150px);
}

.experience__image3 {
    z-index: -1;
    left: calc(50% - 360px/2 + 150px);
}

/*Get started*/
.get-started {
    padding: 2rem;
    background: linear-gradient(0deg, rgba(0, 133, 255, 0.1), rgba(0, 133, 255, 0.1)), #FFFFFF;
    border-radius: 2.1rem;
    height: 444px;
    text-align: center;
}

.started__title {
    padding-top: 4rem;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 60px;
    text-align: center;
    color: #1C1C1C;
    padding-bottom: 1rem;
}

.started__subtitle {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;    
    text-align: center;
    color: #585757;
    padding-bottom: 1rem;
}

/*Footer*/
.footer {
    padding: 2rem;
}

.footer__main {
    display: inline-block;
    width: 288px;
}

.footer__title, .footer__title a{
    font-family: 'Jost';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;     
    color: #1C1C1C;
    padding-bottom: 1.5rem;
}

.col a, .col-4 a{
    text-decoration: none;
}

.col a:hover {
    color: #0085FF;
}

.footer__subtitle {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #585757;
    padding-bottom: 1rem;
}

.socials{
    padding-left: 0;
}

.social i{
    font-size: 1.5rem;
    padding: 0.5rem;
}

.footer__subtitle1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #585757;    
}

.email {
    padding-top: 1.5rem;
}